@import './App.scss';

body[data-theme="dark"] {
  --text-color: hsl(0, 0%, 100%);
  --background-color: hsl(207, 26%, 17%);
  --elements-color: hsl(209, 23%, 22%);
}

body[data-theme="light"] {
  --text-color: hsl(200, 15%, 8%);
  --background-color: hsl(0, 0%, 98%);
  --elements-color: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  background-color: var(--background-color);
}